---
import homeImage from '@/assets/images/home.webp'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
import Hero from '~/components/Hero.astro'
import type { Locales } from '~/types/i18n'

export async function getStaticPaths() {
  return (await getCollection('posts')).map((post) => {
    const [lang, ...slug] = post.slug.split('/') as [Locales, ...string[]]
    return { params: { lang, slug: slug.join('/') || undefined }, props: post }
  })
}

const { lang } = Astro.params as { lang: Locales }
const page = Astro.props
const { Content } = await page.render()

const availableLocales = (await getCollection('posts'))
  .filter((post) => post.slug.slice(2) === page.slug.slice(2))
  .map((post) => post.slug.slice(0, 2)) as Locales[]
---

<Layout title="TO_SET" image={(page.data.header || homeImage).src} description="TO_SET" {availableLocales} {lang}>
  <div class="relative">
    <div
      class="flex size-full h-[500px] items-center justify-center after:absolute after:top-0 after:size-full after:bg-black/40"
    >
      <Hero src={page.data.header || homeImage} alt="" {lang} />
      <div class="absolute z-10 max-w-7xl px-3 text-center text-white">
        <h1 class="mb-10 text-3xl md:text-5xl">{page.data.title}</h1>
        <div class="">
          {
            page.data.date.toLocaleDateString(lang, {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })
          }
        </div>
      </div>
    </div>
  </div>
  <main class="container mx-auto overflow-hidden break-words px-3 py-12">
    <section class="prose mx-auto prose-blockquote:before:content-['“']">
      <Content />
    </section>
  </main>
</Layout>
